@media screen and (max-width: 1685px) {
  /* line 5, ../scss/rwd.scss */
  .contact .form-flex h1 {
    font-weight: 900;
    max-width: 13ch;
    font-size: 60px;
  }
}
@media screen and (max-width: 1285px) {
  /* line 17, ../scss/rwd.scss */
  .work-flex div {
    height: auto !important;
    margin: 0 10px;
  }

  /* line 22, ../scss/rwd.scss */
  .contact .form-flex h1 {
    font-weight: 900;
    max-width: 13ch;
    font-size: 50px;
  }

  /* line 27, ../scss/rwd.scss */
  .services p {
    font-size: 16px;
  }

  /* line 30, ../scss/rwd.scss */
  .services h2 {
    font-size: 21px;
  }
}
@media screen and (max-width: 1025px) {
  /* line 39, ../scss/rwd.scss */
  nav {
    padding: 0 50px 0 20px;
  }

  /* line 44, ../scss/rwd.scss */
  .hero-text {
    padding: 120px 50px !important;
    width: 100%;
    background: url("../img/ifeoluwa.png");
    -webkit-background-size: cover;
    background-size: 334px;
    background-repeat: no-repeat;
    background-position: 620px 160px;
  }

  /* line 54, ../scss/rwd.scss */
  .work-flex div {
    height: auto !important;
    margin: 0 10px;
  }

  /* line 59, ../scss/rwd.scss */
  .hero {
    height: 700px;
  }
  /* line 61, ../scss/rwd.scss */
  .hero .hero-img {
    display: none;
  }
  /* line 64, ../scss/rwd.scss */
  .hero h1 {
    font-size: 90px;
    max-width: 5ch;
  }

  /* line 69, ../scss/rwd.scss */
  .menu-area a {
    padding: 30px 15px;
    font-size: 13px;
  }

  /* line 73, ../scss/rwd.scss */
  .services {
    margin-bottom: 50px;
  }
  /* line 75, ../scss/rwd.scss */
  .services .services-flex div {
    padding: 15px;
  }
  /* line 78, ../scss/rwd.scss */
  .services p {
    font-size: 15px;
    padding: 20px 13px 0 0;
  }
  /* line 82, ../scss/rwd.scss */
  .services h1 {
    font-weight: 900;
    letter-spacing: 5px;
    border-bottom: 3px solid #000;
    max-width: 10ch;
    margin: auto;
    margin-top: 41px;
    margin-bottom: 25px;
    font-size: 28px;
  }
  /* line 92, ../scss/rwd.scss */
  .services img {
    height: 35px;
  }
  /* line 95, ../scss/rwd.scss */
  .services h2 {
    font-size: 17px;
    max-width: 5ch;
  }

  /* line 101, ../scss/rwd.scss */
  .contact {
    padding: 0.5% 0;
  }
  /* line 103, ../scss/rwd.scss */
  .contact h1 {
    font-size: 44px !important;
    margin-top: 20px;
  }
  /* line 107, ../scss/rwd.scss */
  .contact textarea {
    width: 350px;
    margin-top: 20px;
  }
  /* line 111, ../scss/rwd.scss */
  .contact input {
    width: 345px;
  }
  /* line 114, ../scss/rwd.scss */
  .contact button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    height: 60px;
    width: 90%;
    margin: 15px 0;
    letter-spacing: 2px;
    font-size: 16px;
  }
}
@media screen and (max-width: 769px) {
  /* line 131, ../scss/rwd.scss */
  .hero-text {
    padding: 145px 50px !important;
    width: 100%;
    background: url("../img/ifeoluwa.png");
    -webkit-background-size: cover;
    background-size: 334px;
    background-repeat: no-repeat;
    background-position: 537px 164px;
  }

  /* line 141, ../scss/rwd.scss */
  .work-flex div {
    height: auto !important;
    margin: 0 10px;
  }

  /* line 146, ../scss/rwd.scss */
  .hero {
    height: 700px;
  }
  /* line 148, ../scss/rwd.scss */
  .hero .hero-img {
    display: none;
  }
  /* line 151, ../scss/rwd.scss */
  .hero h1 {
    font-size: 65px;
  }

  /* line 156, ../scss/rwd.scss */
  .menu-area a {
    padding: 30px 15px;
    font-size: 13px;
  }

  /* line 160, ../scss/rwd.scss */
  .services {
    margin-bottom: 50px;
  }
  /* line 162, ../scss/rwd.scss */
  .services .services-flex div {
    padding: 15px;
  }
  /* line 165, ../scss/rwd.scss */
  .services p {
    font-size: 15px;
    padding: 20px 13px 0 0;
  }
  /* line 169, ../scss/rwd.scss */
  .services h1 {
    font-weight: 900;
    letter-spacing: 5px;
    border-bottom: 3px solid #000;
    max-width: 10ch;
    margin: auto;
    margin-top: 41px;
    margin-bottom: 25px;
    font-size: 28px;
  }
  /* line 179, ../scss/rwd.scss */
  .services img {
    height: 35px;
  }
  /* line 182, ../scss/rwd.scss */
  .services h2 {
    font-size: 17px;
    max-width: 5ch;
  }

  /* line 188, ../scss/rwd.scss */
  .contact {
    padding: 0.5% 0;
  }
  /* line 190, ../scss/rwd.scss */
  .contact h1 {
    font-size: 44px !important;
    margin-top: 20px;
  }
  /* line 194, ../scss/rwd.scss */
  .contact textarea {
    width: 265px;
    margin-top: 20px;
  }
  /* line 198, ../scss/rwd.scss */
  .contact button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    height: 60px;
    width: 90%;
    margin: 15px 0;
    letter-spacing: 2px;
    font-size: 16px;
  }
}
@media screen and (max-width: 415px) {
  /* line 214, ../scss/rwd.scss */
  #flip > div > div {
    color: #fff;
    padding: 10px 12px;
    height: 50px;
  }

  /* line 222, ../scss/rwd.scss */
  .fuse a {
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    z-index: 1;
    line-height: 40px !important;
    padding: 7px 25px;
  }

  /* line 231, ../scss/rwd.scss */
  #container {
    height: 62px;
    margin-left: 10px;
    font-size: 15px;
  }

  /* line 237, ../scss/rwd.scss */
  .hero-img {
    display: none;
  }

  /* line 240, ../scss/rwd.scss */
  body {
    padding: 0;
  }

  /* line 244, ../scss/rwd.scss */
  .hero .hero-flex {
    display: flex;
    justify-content: center;
  }

  /* line 249, ../scss/rwd.scss */
  label {
    display: block;
    cursor: pointer;
    line-height: 100px;
  }

  /* line 254, ../scss/rwd.scss */
  .menu-area {
    background-color: #fff;
    display: none;
    height: 100vh;
  }

  /* line 260, ../scss/rwd.scss */
  .menu-area a {
    display: block !important;
    text-align: center;
    padding: 30px 0;
    line-height: 20px;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }

  /* line 270, ../scss/rwd.scss */
  #toggle:checked + .menu-area {
    display: block;
  }

  /* line 273, ../scss/rwd.scss */
  nav {
    padding: 0 20px;
  }

  /* line 279, ../scss/rwd.scss */
  .services {
    text-align: center;
  }
  /* line 281, ../scss/rwd.scss */
  .services .services-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 286, ../scss/rwd.scss */
  .services p {
    border-right: none;
    border-bottom: 2px solid #000;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 0px 25px 0;
    text-align: justify;
  }

  /* line 296, ../scss/rwd.scss */
  .contact {
    margin: 0 20px;
  }
  /* line 298, ../scss/rwd.scss */
  .contact .form-flex {
    text-align: center;
    flex-wrap: wrap;
  }
  /* line 301, ../scss/rwd.scss */
  .contact .form-flex h1 {
    font-size: 35px;
  }
  /* line 305, ../scss/rwd.scss */
  .contact .form-flex div {
    width: auto;
    margin: 20px 0;
  }
  /* line 310, ../scss/rwd.scss */
  .contact input {
    margin: 20px 20px 20px 0;
    width: 300px;
  }
  /* line 314, ../scss/rwd.scss */
  .contact textarea {
    width: 300px;
  }
  /* line 317, ../scss/rwd.scss */
  .contact button {
    width: 300px !important;
    margin: 30px 0;
    letter-spacing: 2px;
    font-size: 16px;
  }

  /* line 325, ../scss/rwd.scss */
  .hero-text h1 {
    font-size: 50px !important;
    max-width: 10ch;
    line-height: 100%;
    margin: 10px 0;
  }

  /* line 332, ../scss/rwd.scss */
  .works .work-flex {
    flex-wrap: wrap;
    padding: 0 !important;
    justify-content: center;
  }
  /* line 337, ../scss/rwd.scss */
  .works .work-flex div {
    height: 330px;
    width: 335px;
    margin: 10px 0;
  }

  /* line 343, ../scss/rwd.scss */
  .hero {
    background-color: transparent;
  }
  /* line 344, ../scss/rwd.scss */
  .hero .links {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  /* line 346, ../scss/rwd.scss */
  .hero .links a {
    display: block;
    width: 374px;
    margin-top: 20px;
  }
  /* line 360, ../scss/rwd.scss */
  .hero .links div {
    margin: 10px 0;
  }
  /* line 366, ../scss/rwd.scss */
  .hero h3 {
    font-size: 20px;
  }
  /* line 369, ../scss/rwd.scss */
  .hero p {
    font-size: 14px !important;
  }
  /* line 372, ../scss/rwd.scss */
  .hero .hero-text {
    padding: 110px 25px !important;
    background: url("../img/ifeoluwa.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 170px 100px;
  }
  /* line 374, ../scss/rwd.scss */
  .hero .hero-text p {
    margin: 30px 0 30px 0;
  }
  /* line 386, ../scss/rwd.scss */
  .hero .hero-text .one {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    margin-right: 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 376px) {
  /* line 397, ../scss/rwd.scss */
  .hero-img {
    display: none;
  }

  /* line 400, ../scss/rwd.scss */
  body {
    padding: 0;
  }

  /* line 404, ../scss/rwd.scss */
  .fuse {
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;
    z-index: 1;
    line-height: 10px !important;
  }

  /* line 413, ../scss/rwd.scss */
  .hero .hero-flex {
    display: flex;
    justify-content: center;
  }

  /* line 418, ../scss/rwd.scss */
  label {
    display: block;
    cursor: pointer;
    line-height: 100px;
  }

  /* line 425, ../scss/rwd.scss */
  .menu-area {
    background-color: #fff;
    display: none;
    height: 100vh;
  }

  /* line 430, ../scss/rwd.scss */
  .menu-area a {
    display: block !important;
    text-align: center;
    padding: 30px 0;
    line-height: 20px;
    margin: 0 auto;
    border-bottom: 1px solid black;
  }

  /* line 440, ../scss/rwd.scss */
  #toggle:checked + .menu-area {
    display: block;
  }

  /* line 443, ../scss/rwd.scss */
  nav {
    padding: 0 15px;
  }

  /* line 449, ../scss/rwd.scss */
  .services {
    text-align: center;
  }
  /* line 451, ../scss/rwd.scss */
  .services .services-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 456, ../scss/rwd.scss */
  .services p {
    border-right: none;
    border-bottom: 2px solid #000;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 0px 25px 0;
    text-align: justify;
  }

  /* line 466, ../scss/rwd.scss */
  .contact {
    margin: 0 20px;
  }
  /* line 468, ../scss/rwd.scss */
  .contact .form-flex {
    text-align: center;
    flex-wrap: wrap;
  }
  /* line 471, ../scss/rwd.scss */
  .contact .form-flex h1 {
    font-size: 35px;
  }
  /* line 475, ../scss/rwd.scss */
  .contact .form-flex div {
    width: auto;
    margin: 20px 0;
  }
  /* line 480, ../scss/rwd.scss */
  .contact input {
    margin: 20px 20px 20px 15px;
    width: 305px;
  }
  /* line 484, ../scss/rwd.scss */
  .contact textarea {
    width: 313px !important;
  }
  /* line 487, ../scss/rwd.scss */
  .contact button {
    width: 315px !important;
    margin: 30px 0;
    letter-spacing: 2px;
    font-size: 16px;
  }

  /* line 495, ../scss/rwd.scss */
  .hero-text h1 {
    font-size: 50px !important;
    max-width: 10ch;
    line-height: 100%;
    margin: 10px 0;
  }

  /* line 502, ../scss/rwd.scss */
  .works .work-flex {
    flex-wrap: wrap;
    padding: 0 !important;
    justify-content: center;
  }
  /* line 507, ../scss/rwd.scss */
  .works .work-flex div {
    height: 330px;
    width: 335px;
    margin: 10px 0;
  }

  /* line 513, ../scss/rwd.scss */
  .hero {
    background-color: transparent;
  }
  /* line 514, ../scss/rwd.scss */
  .hero .links {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  /* line 516, ../scss/rwd.scss */
  .hero .links a {
    display: block;
    width: 335px;
    margin-top: 20px;
  }
  /* line 530, ../scss/rwd.scss */
  .hero .links div {
    margin: 10px 0;
  }
  /* line 536, ../scss/rwd.scss */
  .hero h3 {
    font-size: 20px;
  }
  /* line 539, ../scss/rwd.scss */
  .hero p {
    font-size: 14px;
  }
  /* line 542, ../scss/rwd.scss */
  .hero .hero-text {
    padding: 110px 20px;
    background: url("../img/ifeoluwa.png");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 170px 100px;
  }
  /* line 544, ../scss/rwd.scss */
  .hero .hero-text p {
    margin: 30px 0 30px 0;
  }
  /* line 556, ../scss/rwd.scss */
  .hero .hero-text .one {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    margin-right: 0;
    font-size: 20px;
  }
}
