@font-face {
  font-family: Nagitta;
  src: url("../fonts/Nagitta-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

.pad {
  padding-top: 5px !important;
}

#container {
  color: #999;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  width: auto;
  display: block;
  letter-spacing: 2px;
  margin: 20px 0;
}

.section-title {
  display: flex;
}
.section-title h1 {
  margin-right: auto;
  margin-left: auto;
  font-weight: 800;
  letter-spacing: 5px;
  border-bottom: 3px solid #335cff;
  font-size: 2rem;
}

.fy-button {
  padding: 1.5rem 2rem;
  letter-spacing: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.fy-text {
  letter-spacing: 1px;
}

.fy-flex-center {
  display: flex;
}
.fy-flex-center > * {
  margin: auto;
}

#flip {
  height: 5vh;
  overflow: hidden;
}
#flip #flip-items {
  position: relative;
  animation: show 10s linear infinite;
}
#flip #flip-items .flip-item {
  height: 5vh;
  display: flex;
  align-items: center;
}
#flip #flip-items .flip-item p {
  margin: 0;
  color: #9c9c9c;
}

@keyframes show {
  0% {
    top: 0;
  }
  17.55% {
    top: 0;
  }
  20% {
    top: -5vh;
  }
  37.5% {
    top: -5vh;
  }
  40% {
    top: -10vh;
  }
  57.5% {
    top: -10vh;
  }
  60% {
    top: -5vh;
  }
  77.5% {
    top: -5vh;
  }
  80% {
    top: 0;
  }
}
nav {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 50px;
  z-index: 1;
  height: 10vh;
  background: #000000;
}
nav .nav-right {
  margin-left: auto;
}
nav .nav-items .nav-item {
  color: #ffffff;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1rem 0.8rem;
}
nav .nav-items .nav-item:hover {
  border-bottom-color: #335cff;
}
nav #nav-icon {
  color: #335cff;
}

#intro {
  background: #000000;
  color: #ffffff;
}
#intro .greeting {
  font-size: 2rem;
}
#intro .title {
  font-size: 8.5rem;
}
#intro .fy-flex-center {
  min-height: 80vh;
}
#intro .career-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
}
#intro .career-txt .flip-item {
  text-align: left;
}
#intro .career-txt #i-am {
  margin-right: 1rem;
}
#intro #intro-links {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
#intro #intro-links .one {
  background-color: #335cff;
  color: #fff;
  margin-right: 20px;
  outline: 1px solid #335cff;
}
#intro #intro-links .one:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.2s ease-in;
}
#intro #intro-links .two {
  color: #ffffff;
  outline: 1px solid #335cff;
}
#intro #intro-links .two:hover {
  color: #fff;
  background: #335cff;
  outline-color: #335cff;
  transition: all 0.2s ease-in;
}
#intro #intro-links .one-cover {
  margin-left: auto;
}
#intro #intro-links .two-cover {
  margin-right: auto;
}

.works {
  z-index: 2;
  color: #ffffff;
  background: #0e0e0e;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.works .work-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin: 3% 0;
}
.works .work-flex div {
  overflow: hidden;
  height: 400px;
  width: 380px;
}
.works .work-flex img {
  max-width: 100%;
}

.services {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
}
.services p {
  border-right: 2px solid #000;
  font-weight: 600;
}
.services .services-flex {
  display: flex;
  padding: 0 10%;
}
.services .services-flex div {
  padding: 30px;
}
.services img {
  margin: 10px 0;
  height: 50px;
}
.services p {
  font-size: 18px;
  padding: 20px 30px 0 0;
  opacity: 0.8;
}
.services h2 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
}

.contact {
  color: #ffffff;
  background: #0e0e0e !important;
  padding: 5rem 0;
}
.contact .form-flex {
  margin: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact .form-flex h1 {
  font-weight: 900;
  font-size: 70px;
}
.contact button {
  background-color: #335cff;
  color: white;
  border: none;
  padding: 1em 1.5em;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bolder;
}
.contact button:hover {
  cursor: pointer;
  transition: all 0.2s;
}

.bottom-nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.bottom-nav .fuse li {
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 16px;
  z-index: 1;
  opacity: 0.7;
  border-bottom: 3px solid transparent;
}
.bottom-nav .fuse li a {
  text-decoration: none;
  color: #ffffff;
}
.bottom-nav .fuse li:hover {
  opacity: 1;
  border-bottom: 3px solid #ffffff;
  transition: all 0.2s ease-in;
  border-radius: 2px;
}
.bottom-nav .fuse li {
  list-style-type: none;
  display: inline-block;
}
.bottom-nav hr {
  width: 80vw;
  margin: 0 auto;
  border-color: #ababab9e;
}

footer {
  color: #ffffff;
}

label {
  margin: 0 0 0 0;
  font-size: 30px;
  display: none;
}

#toggle {
  display: none;
}

.logo {
  max-width: 300px;
  float: left;
  color: #335cff;
  font-size: 45px;
  text-align: left;
  line-height: 100px;
  font-weight: 800;
  font-family: "Nagitta", sans-serif;
}
.logo a {
  text-decoration: none;
  color: #335cff;
}

.menu-area a {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
  position: relative;
  z-index: 1;
  line-height: 100px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.text-center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
