@font-face {
  font-family: Nagitta;
  src: url("../fonts/Nagitta-Regular.ttf");
}
/* line 9, ../scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 15, ../scss/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

/* line 22, ../scss/style.scss */
::-webkit-scrollbar {
  width: .25rem;
  height: .25rem;
}

/* line 27, ../scss/style.scss */
::-webkit-scrollbar-track {
  box-shadow: none;
  background: transparent;
}

/* line 32, ../scss/style.scss */
::-webkit-scrollbar-thumb {
  background-color: #335cff;
  outline: none;
}

/* line 37, ../scss/style.scss */
.pad {
  padding-top: 5px !important;
}

/* line 41, ../scss/style.scss */
#container {
  color: #999;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  width: auto;
  display: block;
  letter-spacing: 2px;
  margin: 20px 0;
}

/* line 53, ../scss/style.scss */
.section-title {
  display: flex;
}
/* line 56, ../scss/style.scss */
.section-title h1 {
  margin-right: auto;
  margin-left: auto;
  font-weight: 800;
  letter-spacing: 5px;
  border-bottom: 3px solid #335cff;
  font-size: 2rem;
}

/* line 66, ../scss/style.scss */
.text-center {
  text-align: center;
}

/* line 70, ../scss/style.scss */
.fy-button {
  padding: 1.5rem 2rem;
  letter-spacing: 5px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

/* line 79, ../scss/style.scss */
.fy-container {
  width: 1500px;
  margin: 0 auto;
  padding: 2rem;
}

/* line 85, ../scss/style.scss */
.fy-button:hover {
  cursor: pointer;
}

/* line 89, ../scss/style.scss */
.fy-text {
  letter-spacing: 1px;
}

/* line 93, ../scss/style.scss */
.fy-flex, .fy-flex-center {
  display: flex;
}

/* line 98, ../scss/style.scss */
.fy-flex-center > * {
  margin: auto;
}

/* line 103, ../scss/style.scss */
.fy-flex-inline {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/* line 110, ../scss/style.scss */
.fy-horizontal-scroll {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
/* line 115, ../scss/style.scss */
.fy-horizontal-scroll > div {
  display: inline-flex;
}

/* line 120, ../scss/style.scss */
#flip {
  height: 5vh;
  overflow: hidden;
}
/* line 124, ../scss/style.scss */
#flip #flip-items {
  position: relative;
  animation: show 10s linear infinite;
}
/* line 128, ../scss/style.scss */
#flip #flip-items .flip-item {
  height: 5vh;
  display: flex;
  align-items: center;
}
/* line 133, ../scss/style.scss */
#flip #flip-items .flip-item p {
  margin: 0;
  color: #9c9c9c;
}

@keyframes show {
  0% {
    top: 0;
  }
  17.55% {
    top: 0;
  }
  20% {
    top: -5vh;
  }
  37.5% {
    top: -5vh;
  }
  40% {
    top: -10vh;
  }
  57.5% {
    top: -10vh;
  }
  60% {
    top: -5vh;
  }
  77.5% {
    top: -5vh;
  }
  80% {
    top: 0;
  }
}
/* line 154, ../scss/style.scss */
nav {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 50px;
  z-index: 1;
  max-height: 10vh;
  background: #000000;
}
/* line 164, ../scss/style.scss */
nav .nav-right {
  margin-left: auto;
}
/* line 168, ../scss/style.scss */
nav .nav-center {
  margin-right: auto;
  margin-left: auto;
}
/* line 173, ../scss/style.scss */
nav .nav-items {
  display: flex;
}
/* line 176, ../scss/style.scss */
nav .nav-items li {
  display: flex;
}
/* line 178, ../scss/style.scss */
nav .nav-items li .nav-item {
  color: #c3c3c3;
  font-weight: bold;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  letter-spacing: 1px;
  margin: auto;
  padding: 1rem 1.2rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
}
/* line 190, ../scss/style.scss */
nav .nav-items li .nav-item:hover {
  color: #ffffff;
  border-bottom-color: #335cff;
}
/* line 197, ../scss/style.scss */
nav #nav-icon {
  color: #335cff;
}

/* line 203, ../scss/style.scss */
#intro {
  background: transparent;
  color: #ffffff;
}
/* line 207, ../scss/style.scss */
#intro .greeting {
  font-size: 2rem;
}
/* line 208, ../scss/style.scss */
#intro .title {
  font-size: 8.5rem;
}
/* line 209, ../scss/style.scss */
#intro .fy-flex-center {
  min-height: 80vh;
}
/* line 211, ../scss/style.scss */
#intro .career-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
}
/* line 219, ../scss/style.scss */
#intro .career-txt .flip-item {
  text-align: left;
}
/* line 220, ../scss/style.scss */
#intro .career-txt #i-am {
  margin-right: 1rem;
}
/* line 223, ../scss/style.scss */
#intro #intro-links {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
/* line 228, ../scss/style.scss */
#intro #intro-links .one {
  background-color: #335cff;
  color: #fff;
  margin-right: 20px;
  outline: 1px solid #335cff;
}
/* line 234, ../scss/style.scss */
#intro #intro-links .one:hover {
  background-color: #000000;
  color: #ffffff;
  transition: all 0.2s ease-in;
}
/* line 240, ../scss/style.scss */
#intro #intro-links .two {
  color: #ffffff;
  outline: 1px solid #335cff;
}
/* line 245, ../scss/style.scss */
#intro #intro-links .two:hover {
  color: #fff;
  background: #335cff;
  outline-color: #335cff;
  transition: all 0.2s ease-in;
}
/* line 252, ../scss/style.scss */
#intro #intro-links .one-cover {
  margin-left: auto;
}
/* line 253, ../scss/style.scss */
#intro #intro-links .two-cover {
  margin-right: auto;
}

/* line 258, ../scss/style.scss */
#works {
  z-index: 2;
  color: #ffffff;
  background: #0e0e0e;
}
/* line 263, ../scss/style.scss */
#works .works {
  margin-top: 2rem;
}
/* line 265, ../scss/style.scss */
#works .works .work {
  margin: 1rem;
  width: 20rem;
}
/* line 268, ../scss/style.scss */
#works .works .work .details {
  margin: 1rem;
}
/* line 270, ../scss/style.scss */
#works .works .work .details .title {
  font-size: 1.4rem;
}
/* line 273, ../scss/style.scss */
#works .works .work .details .summary, #works .works .work .details .title {
  margin-top: 1rem;
}
/* line 276, ../scss/style.scss */
#works .works .work .details .summary {
  color: #9c9c9c;
}
/* line 280, ../scss/style.scss */
#works .works .work .image {
  width: 100%;
  border-radius: 0.5rem;
}

/* line 289, ../scss/style.scss */
#services {
  color: #ffffff;
}
/* line 292, ../scss/style.scss */
#services .services {
  justify-content: center;
  margin-top: 2rem;
}
/* line 296, ../scss/style.scss */
#services .services .service {
  width: 25rem;
  padding: 1rem;
}
/* line 300, ../scss/style.scss */
#services .services .service .image {
  margin: 1rem 0;
}
/* line 303, ../scss/style.scss */
#services .services .service .title, #services .services .service .description {
  margin-top: .5rem;
}
/* line 306, ../scss/style.scss */
#services .services .service .description {
  color: #9c9c9c;
}

/* line 314, ../scss/style.scss */
.contact {
  color: #ffffff;
  background: #0e0e0e !important;
}
/* line 318, ../scss/style.scss */
.contact .form-flex {
  margin: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* line 324, ../scss/style.scss */
.contact .form-flex h1 {
  font-weight: 900;
  font-size: 70px;
}
/* line 330, ../scss/style.scss */
.contact .fy-button {
  background-color: #335cff;
  color: #ffffff;
}

/* line 337, ../scss/style.scss */
.bottom-nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
/* line 343, ../scss/style.scss */
.bottom-nav .fuse li {
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 16px;
  z-index: 1;
  opacity: 0.7;
  border-bottom: 3px solid transparent;
}
/* line 353, ../scss/style.scss */
.bottom-nav .fuse li a {
  text-decoration: none;
  color: #ffffff;
}
/* line 359, ../scss/style.scss */
.bottom-nav .fuse li:hover {
  opacity: 1;
  border-bottom: 3px solid #ffffff;
  transition: all 0.2s ease-in;
  border-radius: 2px;
}
/* line 365, ../scss/style.scss */
.bottom-nav .fuse li {
  list-style-type: none;
  display: inline-block;
}
/* line 372, ../scss/style.scss */
.bottom-nav hr {
  width: 80vw;
  margin: 0 auto;
  border: none;
  border-top: 1px solid #9c9c9c;
}

/* line 380, ../scss/style.scss */
footer {
  color: #ffffff;
}

/* line 386, ../scss/style.scss */
label {
  margin: 0 0 0 0;
  font-size: 30px;
  display: none;
}

/* line 391, ../scss/style.scss */
#toggle {
  display: none;
}

/* line 397, ../scss/style.scss */
.logo {
  max-width: 300px;
  float: left;
  color: #335cff;
  font-size: 45px;
  text-align: left;
  line-height: 100px;
  font-weight: 800;
  font-family: 'Nagitta', sans-serif;
}
/* line 407, ../scss/style.scss */
.logo a {
  text-decoration: none;
  color: #335cff;
}
