@media only screen and (max-width: 1500px){
	.fy-container {
		width: 1200px;
	}

	#works {
		.works {
			.work {
				width: 17.5rem;
			}
		}
	}

	#services {
		.services {
			.service {
				width: 20rem;
			}
		}
	}
}

@media only screen and (max-width: 1200px){
	.fy-container {
		width: 1000px;
	}

	.fy-button {
		padding: 1rem 1.5rem;
		font-size: 1.2rem;
	}

	#works {
		.works {
			.work {
				width: 15rem;

				.details {
					.title {
						font-size: 1.25rem;
					}
				}
			}
		}
	}

	#services {
		.services {
			.service {
				width: 17.5rem;
				.title {
					font-size: 1.25rem;
				}
			}
		}
	}

	#contact {
		h1 {
			font-size: 3rem;
		}
	}
}