$dull-gray:#F1F1F1;

@font-face {
  font-family: Nagitta;
  src: url("../fonts/Nagitta-Regular.ttf");
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

.pad {
  padding-top: 5px !important;
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:25px;
  font-weight:600;
  width:auto;
  display:block;
  height: 62px;
  letter-spacing: 2px;
  margin: 20px 0;
}

.section-title {
  display: flex;

  h1 {
    margin-right: auto;
    margin-left: auto;
    font-weight: 800;
    letter-spacing: 5px;
    border-bottom: 3px solid #335cff;
    font-size: 2rem;
  }
}

#intro {
  background: #000000;
  color: #ffffff;

  .hero-flex{
    justify-content: center;
    align-content: center;
  }

  .career-txt {
    display: flex;
    p {
      margin-left: auto;
    }
    #container {
      margin-right: auto;
    }
  }

  #intro-links {
    .one {
      background-color: #335cff;
      color: #fff;
      font-weight: 700;
      margin-right: 20px;
      font-size: 20px;
      outline: 1px solid #335cff;
    }
    .one:hover {
      background-color: #000000;
      color: #ffffff;
      transition: all 0.2s ease-in;
    }

    .two {
      color: #ffffff;
      font-weight: 700;
      outline: 1px solid #335cff;
      font-size: 20px;
    }

    .two:hover {
      color: #fff;
      background: #335cff;
      outline-color: #335cff;
      transition: all 0.2s ease-in;
    }

    .one-cover { margin-left: auto }
    .two-cover { margin-right: auto }
  }
}


.works {
  z-index: 2;
  color: #ffffff;
  background: #0e0e0e;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .work-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin: 3% 0;
  }

  .work-flex {
    div {
      overflow: hidden;
      height: 400px;
      width: 380px;
    }

    img {
      max-width: 100%;
    }
  }
}


.services {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;

  p {
    border-right: 2px solid #000;
    font-weight: 600;

  }
  .services-flex {
    display: flex;
    padding: 0 10%;
    div {
      padding: 30px;
    }
  }
  img {
    margin: 10px 0;
    height: 50px;
  }
  p {
    font-size: 18px;
    padding: 20px 30px 0 0;
    opacity: 0.8;
  }
  h2 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
  }
}


.contact {
  color: #ffffff;
  background: #0e0e0e!important;
  padding: 5rem 0;

  .form-flex {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      font-weight: 900;
      font-size: 70px;
    }
  }
  button {
    background-color: #335cff;
    color: white;
    border:none;
    padding: 1em 1.5em;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bolder;
  }
  button:hover {
    cursor: pointer;
    transition: all 0.2s;
  }
}


.bottom-nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  .fuse {
    li{
      font-weight: bolder;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 15px 25px;
      font-size: 16px;
      z-index: 1;
      opacity: 0.7;
      border-bottom: 3px solid transparent;

      a {
        text-decoration: none;
        color: #ffffff;
      }
    }

    li:hover {
      opacity: 1;
      border-bottom: 3px solid #ffffff;
      transition: all 0.2s ease-in;
      border-radius: 2px;
    }
    li {
      list-style-type: none;
      display: inline-block;

    }
  }

  hr {
    width: 80vw;
    margin: 0 auto;
    border-color: #ababab9e;
  }
}

footer {
  color: #ffffff;
}

#flip {
  height:50px;
  overflow:hidden;
}
#flip > div > div {
  color:#000000;
  padding:10px 12px;
  height:50px;
  margin-bottom:50px;
  display:inline-block;
}
#flip div:first-child {
  animation: show 5s linear infinite;
}
#flip div div {
  background: #ffffff;
}
#flip div:first-child div {
  background: #ffffff;
}
#flip div:last-child div {
  background: #ffffff;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}


//Navigation is here
label {
  margin: 0 0 0 0;
  font-size: 30px;
  display: none;
}
#toggle {
  display: none;
}



.logo {
  max-width: 300px;
  float: left;
  //text-transform: uppercase;
  color: #335cff;
  font-size: 45px;
  text-align: left;
  line-height: 100px;
  font-weight: 800;
  font-family: 'Nagitta', sans-serif;
  a {
    text-decoration: none;
    color: #335cff;
  }
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0px 50px;
  //background: #333;
  z-index: 1;
  text-align: right;
  height: 100px;
  background: #fff;

  #nav-icon {
    color: #335cff;
  }
}


.menu-area {
  //text-align: right;
  a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    //display: block;
    padding: 30px 25px;
    margin-bottom: 10px;
    font-size: 16px;
    //line-height: 100px;
    position: relative;
    z-index: 1;
    line-height: 100px;
  }



  a:hover {
    border-bottom: 3px solid #000;
    transition: all 0.2s ease-in;
    border-radius: 2px;
  }
  li {
    list-style-type: none;
    display: inline-block;

  }
}

//Navigation stops here

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.hero {
  background-color: rgba(241, 241, 241, 0.9);
  height: 800px;
  //margin: 0 20px;

  .links {
    display: flex;
  }

  h1 {
    font-weight: 900;
    font-size: 130px;
  }
  p {
    font-size: 20px;
  }

  h3 {
    font-size:35px;
  }
  .hero-text {
    padding: 150px 50px;
    p {
      margin: 20px 26px 60px 0;
      letter-spacing: 5px;
      font-size:36px;
      font-weight:bold;
    }

    a {
      text-decoration: none;
      padding: 1em 1.5em;
      letter-spacing: 10px;
      width:300px;

    }

  }
  .hero-img {
    background: url("../img/ifeoluwa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% -100%;
    margin: 11.5% 0 0 0;
    height: 400pt;
    width: 35%;
  }
  .hero-img:hover {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;

  }

  .hero-flex {
    display: flex;
    justify-content: space-between;
  }
}


.text-center {
  text-align: center;
}$dull-gray:#F1F1F1;

@font-face {
  font-family: Nagitta;
  src: url("../fonts/Nagitta-Regular.ttf");
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

.pad {
  padding-top: 5px !important;
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:25px;
  font-weight:600;
  width:auto;
  display:block;
  height: 62px;
  letter-spacing: 2px;
  margin: 20px 0;
}

.section-title {
  display: flex;

  h1 {
    margin-right: auto;
    margin-left: auto;
    font-weight: 800;
    letter-spacing: 5px;
    border-bottom: 3px solid #335cff;
    font-size: 2rem;
  }
}

#intro {
  background: #000000;
  color: #ffffff;

  .hero-flex{
    justify-content: center;
    align-content: center;
  }

  .career-txt {
    display: flex;
    p {
      margin-left: auto;
    }
    #container {
      margin-right: auto;
    }
  }

  #intro-links {
    .one {
      background-color: #335cff;
      color: #fff;
      font-weight: 700;
      margin-right: 20px;
      font-size: 20px;
      outline: 1px solid #335cff;
    }
    .one:hover {
      background-color: #000000;
      color: #ffffff;
      transition: all 0.2s ease-in;
    }

    .two {
      color: #ffffff;
      font-weight: 700;
      outline: 1px solid #335cff;
      font-size: 20px;
    }

    .two:hover {
      color: #fff;
      background: #335cff;
      outline-color: #335cff;
      transition: all 0.2s ease-in;
    }

    .one-cover { margin-left: auto }
    .two-cover { margin-right: auto }
  }
}


.works {
  z-index: 2;
  color: #ffffff;
  background: #0e0e0e;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .work-flex {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin: 3% 0;
  }

  .work-flex {
    div {
      overflow: hidden;
      height: 400px;
      width: 380px;
    }

    img {
      max-width: 100%;
    }
  }
}


.services {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;

  p {
    border-right: 2px solid #000;
    font-weight: 600;

  }
  .services-flex {
    display: flex;
    padding: 0 10%;
    div {
      padding: 30px;
    }
  }
  img {
    margin: 10px 0;
    height: 50px;
  }
  p {
    font-size: 18px;
    padding: 20px 30px 0 0;
    opacity: 0.8;
  }
  h2 {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
  }
}


.contact {
  color: #ffffff;
  background: #0e0e0e!important;
  padding: 5rem 0;

  .form-flex {
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      font-weight: 900;
      font-size: 70px;
    }
  }
  button {
    background-color: #335cff;
    color: white;
    border:none;
    padding: 1em 1.5em;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bolder;
  }
  button:hover {
    cursor: pointer;
    transition: all 0.2s;
  }
}


.bottom-nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  .fuse {
    li{
      font-weight: bolder;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 15px 25px;
      font-size: 16px;
      z-index: 1;
      opacity: 0.7;
      border-bottom: 3px solid transparent;

      a {
        text-decoration: none;
        color: #ffffff;
      }
    }

    li:hover {
      opacity: 1;
      border-bottom: 3px solid #ffffff;
      transition: all 0.2s ease-in;
      border-radius: 2px;
    }
    li {
      list-style-type: none;
      display: inline-block;

    }
  }

  hr {
    width: 80vw;
    margin: 0 auto;
    border-color: #ababab9e;
  }
}

footer {
  color: #ffffff;
}

#flip {
  height: 5vh;
  overflow:hidden;


}
#flip > div > div {
  color:#000000;
  padding:10px 12px;
  height:50px;
  margin-bottom:50px;
  display:inline-block;
}
#flip div:first-child {
  animation: show 5s linear infinite;
}
@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}


//Navigation is here
label {
  margin: 0 0 0 0;
  font-size: 30px;
  display: none;
}
#toggle {
  display: none;
}



.logo {
  max-width: 300px;
  float: left;
  //text-transform: uppercase;
  color: #335cff;
  font-size: 45px;
  text-align: left;
  line-height: 100px;
  font-weight: 800;
  font-family: 'Nagitta', sans-serif;
  a {
    text-decoration: none;
    color: #335cff;
  }
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0px 50px;
  //background: #333;
  z-index: 1;
  text-align: right;
  height: 100px;
  background: #fff;

  #nav-icon {
    color: #335cff;
  }
}


.menu-area {
  //text-align: right;
  a {
    text-decoration: none;
    color: #000;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    //display: block;
    padding: 30px 25px;
    margin-bottom: 10px;
    font-size: 16px;
    //line-height: 100px;
    position: relative;
    z-index: 1;
    line-height: 100px;
  }



  a:hover {
    border-bottom: 3px solid #000;
    transition: all 0.2s ease-in;
    border-radius: 2px;
  }
  li {
    list-style-type: none;
    display: inline-block;

  }
}

//Navigation stops here

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.hero {
  background-color: rgba(241, 241, 241, 0.9);
  height: 800px;
  //margin: 0 20px;

  .links {
    display: flex;
  }

  h1 {
    font-weight: 900;
    font-size: 130px;
  }
  p {
    font-size: 20px;
  }

  h3 {
    font-size:35px;
  }
  .hero-text {
    padding: 150px 50px;
    p {
      margin: 20px 26px 60px 0;
      letter-spacing: 5px;
      font-size:36px;
      font-weight:bold;
    }

    a {
      text-decoration: none;
      padding: 1em 1.5em;
      letter-spacing: 10px;
      width:300px;

    }

  }
  .hero-img {
    background: url("../img/ifeoluwa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% -100%;
    margin: 11.5% 0 0 0;
    height: 400pt;
    width: 35%;
  }
  .hero-img:hover {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;

  }

  .hero-flex {
    display: flex;
    justify-content: space-between;
  }
}


.text-center {
  text-align: center;
}